.card{
    background-color: #fff;
    /* height: 25rem;
    width: 20rem; */
    position: relative;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 4%;
}

.page{
    justify-content: center;
    /* padding-bottom: 25%; */
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0;
    padding-top: 5%;
    /* background: linear-gradient(90deg, rgba(160,132,220,1) 0%, rgba(180,150,223,1) 21%, rgba(190,159,224,1) 40%, rgba(203,170,226,1) 57%, rgba(213,179,227,1) 76%, rgba(235,199,230,1) 100%); */
    background-color: #645cbb;
}
@media only screen and (max-width: 500px) {
    .card{
        width: 70vw;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (max-height: 500px) {
    .card{
        height: 90vh;
    }
}