.main_card{
    background-color: #645cbb;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.main{
    justify-content: center;
    display: flex;
}
.main_card label{
    color:white;
    opacity: 1;
    font-family: 'Helvetica', sans-serif;
    font-size: .8rem;
}

.col-md-6 {
    padding: 1%;
}

.form-control{
    border: 0px;
}

.col-md-4 {
    padding: 1%;
}
.col-md-2 {
    padding: 1%;
}
    

.col-12{
    padding: 1%;
}


.col-sm-8{
    padding: 1%;
}

.mb-3{
    padding-left: 1%;
}
.mode{
    padding-top: 2%;
}


.job_role{
    margin-bottom: 3%;
    padding-left: 1%;
}

.job_form_hr{
    color: #fff;
    margin-bottom: 4%;
}
.form_title{
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family:Helvetica, sans-serif;
}

.input-box {
    display: flex;
    align-items: center;
    max-width: 300px;
    background: #fff;
    border-radius: 4px;
    padding-left: 0.5rem;
    overflow: hidden;
    font-family: sans-serif;
  }
  
  .input-box .prefix {
    font-weight: 300;
    font-size: 14px;
    color: #999;
  }
  
  .input-box input {
    flex-grow: 1;
    font-size: 14px;
    background: #fff;
    border: none;
    outline: none;
    padding: 0.5rem;

  }

  .file_input input::-webkit-file-upload-button{
    color: #645cbb;
    border-radius: 10px;
    font-weight: 600;
    border: 0;
  }

  .file_input{
    margin-top: 2%;
    color: white;
  }

  .multiselect{
    background-color: red;
  }