.card {
    background-color: #fff;
    position: relative;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 4%;
}

.page {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0;
    padding-top: 5%;
    background-color: #645cbb;
}

@media only screen and (max-width: 500px) {
    .card {
        width: 70vw;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1rem;

    }
}

@media only screen and (max-height: 500px) {
    .card {
        height: 90vh;
    }
}